body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#setup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#color-control {
  display: flex;
  justify-content: center;
}

.color-grid .row{
  display: flex;
}
.color-box {
  margin: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

#blackBox {
  background-color: black;
}
#redBox {
  background-color: red;
}
#orangeBox {
  background-color: orange;
}
#yellowBox {
  background-color: yellow;
}
#brownBox {
  background-color: brown;
}
#whiteBox {
  background-color: white;
}
#purpleBox {
  background-color: purple;
}
#blueBox {
  background-color: blue;
}
#greenBox {
  background-color: green;
}
#grayBox {
  background-color: gray;
}

.color-preview {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;  
}

#grid {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.gridRow {
  display: flex;
  width: 100%;
  height: 100%
}

.gridSquare {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
}

.gridSquare:hover {
  background-color: green;
}

