#color-control {
  display: flex;
}

.color-grid .row{
  display: flex;
}
.color-box {
  margin: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.color-preview {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;  
}