body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#setup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#color-control {
  display: flex;
  justify-content: center;
}

.color-grid .row{
  display: flex;
}
.color-box {
  margin: 3px;
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

#black-box {
  background-color: black;
}
#red-box {
  background-color: red;
}
#orange-box {
  background-color: orange;
}
#yellow-box {
  background-color: yellow;
}
#brown-box {
  background-color: brown;
}
#white-box {
  background-color: white;
}
#purple-box {
  background-color: purple;
}
#blue-box {
  background-color: blue;
}
#green-box {
  background-color: green;
}
#gray-box {
  background-color: gray;
}

.custom {
  background-color: white;
}

.color-preview {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid black;  
}

#grid {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.grid-row {
  display: flex;
  width: 100%;
  height: 100%
}

.grid-square {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
}

.grid-square:hover {
  background-color: green;
}

